In [145]:
import numpy as np
import pandas as pd

In [146]:
pip install pandas

Requirement already satisfied: pandas in e:\set_install\python_installation\lib\site-packages (1.4.1)
Requirement already satisfied: pytz>=2020.1 in e:\set_install\python_installation\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\set_install\python_installation\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in e:\set_install\python_installation\lib\site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in e:\set_install\python_installation\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [148]:
pip install numpy

Requirement already satisfied: numpy in e:\set_install\python_installation\lib\site-packages (1.22.3)
Note: you may need to restart the kernel to use updated packages.

In [149]:
import numpy as np
import pandas as pd

In [150]:
place =pd.read_csv("places.csv")
type=pd.read_csv("types.csv")

In [152]:
place.head

<bound method NDFrame.head of       PID                                 POIs   LATITUDE  LONGITUDE IN-TIME1  \
0    POI1                         AMBER PALACE  26.985487  75.851345    10:00
1    POI2                   CITY PALACE JAIPUR  26.925771  75.823658     9:30
2    POI3                 JANTAR MANTAR JAIPUR  26.924762  75.824560     9:00
3    POI4                           HAWA MAHAL  26.923936  75.826744     9:00
4    POI5  ALBERT HALL MUSEUM (CENTRAL MUSEUM)  26.911576  75.819487     9:00
..    ...                                  ...        ...        ...      ...
66  POI67   SUNRISE DREAM WORLD AMUSEMENT PARK  27.143995  75.872007    10:00
67  POI68               BRETHREN CHURCH JAIPUR  26.901066  75.762246     9:00
68  POI69                              MI ROAD  26.916726  75.812946     0:00
69  POI70                        BHANGARH FORT  27.072676  76.026691     6:00
70  POI71             SKY WALTZ BALLOON SAFARI  26.948450  75.840522     9:00

   IN-TIME2 OUT-TIME1 OUT-TIME2
0     18:30     17:00     21:15
1         -     17:00         -
2         -     17:00         -
3         -     16:30         -
4     19:00     17:00     22:00
..      ...       ...       ...
66        -     19:00         -
67        -     13:00         -
68        -     23:59         -
69        -     18:00         -
70        -     18:00         -

[71 rows x 8 columns]>

In [153]:
type['tags']=type['PRIORITY_1']+type['PRIORITY_2']+type['PRIORITY_3']+type['PRIORITY_4']+type['PRIORITY_5']

In [154]:
type.head

<bound method NDFrame.head of       PID                                 POIs           PRIORITY_1  \
0    POI1                         AMBER PALACE  History and Culture
1    POI2                   CITY PALACE JAIPUR  History and Culture
2    POI3                 JANTAR MANTAR JAIPUR  History and Culture
3    POI4                           HAWA MAHAL  History and Culture
4    POI5  ALBERT HALL MUSEUM (CENTRAL MUSEUM)               Museum
..    ...                                  ...                  ...
66  POI67   SUNRISE DREAM WORLD AMUSEMENT PARK            Adventure
67  POI68               BRETHREN CHURCH JAIPUR            Religious
68  POI69                              MI ROAD             Shopping
69  POI70                        BHANGARH FORT            Adventure
70  POI71             SKY WALTZ BALLOON SAFARI            Adventure

             PRIORITY_2         PRIORITY_3          PRIORITY_4  \
0                Museum  Local Experiences              Scenic
1                Museum  Local Experiences              Scenic
2                Museum                  -                   -
3                     -  Local Experiences              Scenic
4   History and Culture             Scenic                   -
..                  ...                ...                 ...
66                    -                  -                   -
67                    -                  -  Shows and Concerts
68      Food and Drinks                  -                   -
69               Scenic          Religious                   -
70               Scenic                  -                   -

           PRIORITY_5                                               tags
0           Adventure  History and CultureMuseumLocal ExperiencesScen...
1     Food and Drinks  History and CultureMuseumLocal ExperiencesScen...
2                   -                       History and CultureMuseum---
3                   -       History and Culture-Local ExperiencesScenic-
4                   -                  MuseumHistory and CultureScenic--
..                ...                                                ...
66                  -                                      Adventure----
67                  -                     Religious--Shows and Concerts-
68                  -                         ShoppingFood and Drinks---
69                  -                         AdventureScenicReligious--
70  Local Experiences                 AdventureScenic--Local Experiences

[71 rows x 8 columns]>

In [156]:
new_type=type[['PID','POIs','tags']]

# uppercase to lowercase

In [157]:
new_type['tags']=new_type['tags'].apply(lambda x:x.lower())

C:\Users\nikhi\AppData\Local\Temp\ipykernel_2264\2630989208.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_type['tags']=new_type['tags'].apply(lambda x:x.lower())

In [158]:
new_type.head

<bound method NDFrame.head of       PID                                 POIs  \
0    POI1                         AMBER PALACE
1    POI2                   CITY PALACE JAIPUR
2    POI3                 JANTAR MANTAR JAIPUR
3    POI4                           HAWA MAHAL
4    POI5  ALBERT HALL MUSEUM (CENTRAL MUSEUM)
..    ...                                  ...
66  POI67   SUNRISE DREAM WORLD AMUSEMENT PARK
67  POI68               BRETHREN CHURCH JAIPUR
68  POI69                              MI ROAD
69  POI70                        BHANGARH FORT
70  POI71             SKY WALTZ BALLOON SAFARI

                                                 tags
0   history and culturemuseumlocal experiencesscen...
1   history and culturemuseumlocal experiencesscen...
2                        history and culturemuseum---
3        history and culture-local experiencesscenic-
4                   museumhistory and culturescenic--
..                                                ...
66                                      adventure----
67                     religious--shows and concerts-
68                         shoppingfood and drinks---
69                         adventurescenicreligious--
70                 adventurescenic--local experiences

[71 rows x 3 columns]>

# TEXT VECTORIZATION

In [159]:
pip install sklearn

Requirement already satisfied: sklearn in e:\set_install\python_installation\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in e:\set_install\python_installation\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in e:\set_install\python_installation\lib\site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\set_install\python_installation\lib\site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in e:\set_install\python_installation\lib\site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in e:\set_install\python_installation\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [160]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10,stop_words='english')

In [161]:
arrow=cv.fit_transform(type['tags']).toarray()

 remove redundence of tags in vector

# stamming

In [162]:
pip install nltk

Requirement already satisfied: nltk in e:\set_install\python_installation\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in e:\set_install\python_installation\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: tqdm in e:\set_install\python_installation\lib\site-packages (from nltk) (4.63.1)
Requirement already satisfied: joblib in e:\set_install\python_installation\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in e:\set_install\python_installation\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in e:\set_install\python_installation\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [163]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [164]:
def stem(text):   
   y = []

for i in text.split:
      y.append(ps.stem(i))
        
        return " ".join(y)

IndentationError: unexpected indent (3703980420.py, line 7)

cosine dist

In [165]:
from sklearn.metrics.pairwise import cosine_similarity

In [166]:
same=cosine_similarity(arrow)

In [167]:
    same[0]

array([1.        , 0.70710678, 1.        , 0.57735027, 0.        ,
       0.        , 0.        , 1.        , 0.5       , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.57735027, 0.4472136 , 0.        , 0.        ,
       0.70710678, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        ])

fetch the index and then get it

In [168]:
    sorted(list(enumerate(same[0])), reverse=True,key=lambda x:x[1])[1:6]

[(2, 1.0),
 (7, 1.0),
 (47, 1.0),
 (1, 0.7071067811865475),
 (25, 0.7071067811865475)]

In [173]:
same[0]

array([1.        , 0.70710678, 1.        , 0.57735027, 0.        ,
       0.        , 0.        , 1.        , 0.5       , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.57735027, 0.        , 0.        ,
       0.        , 0.57735027, 0.4472136 , 0.        , 0.        ,
       0.70710678, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 1.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        ])

In [171]:
def recommendation(place):
    p_index=new_type[new_type['POIs']==place].index[0]
    distances=same[p_index]
    movies_list=sorted(list(enumerate(same[0])), reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_type.iloc[i[0]].POIs)

In [175]:
recommendation('RAM NIWAS GARDEN')

JANTAR MANTAR JAIPUR
JAL MAHAL
GATORE KI CHHATRI JAIPUR
CITY PALACE JAIPUR
RAJ MANDIR

In [43]:
new_type.iloc[7].POIs

'JAL MAHAL'

In [45]:

def Insert_row(row_number, df, row_value):
    # Starting value of upper half
    start_upper = 0
  
    # End value of upper half
    end_upper = row_number
  
    # Start value of lower half
    start_lower = row_number
  
    # End value of lower half
    end_lower = df.shape[0]
  
    # Create a list of upper_half index
    upper_half = [*range(start_upper, end_upper, 1)]
  
    # Create a list of lower_half index
    lower_half = [*range(start_lower, end_lower, 1)]
  
    # Increment the value of lower half by 1
    lower_half = [x.__add__(1) for x in lower_half]
  
    # Combine the two lists
    index_ = upper_half + lower_half
  
    # Update the index of the dataframe
    df.index = index_
  
    # Insert a row at the end
    df.loc[row_number] = row_value
   
    # Sort the index labels
    df = df.sort_index()
  
    # return the dataframe
    return df

In [84]:
new_type

,PID,POIs,tags
0,POI1,AMBER PALACE,history and culturemuseumlocal experiencesscen...
1,POI2,CITY PALACE JAIPUR,history and culturemuseumlocal experiencesscen...
2,POI3,JANTAR MANTAR JAIPUR,history and culturemuseum---
3,POI4,HAWA MAHAL,history and culture-local experiencesscenic-
4,POI5,ALBERT HALL MUSEUM (CENTRAL MUSEUM),museumhistory and culturescenic--
...,...,...,...
66,POI67,SUNRISE DREAM WORLD AMUSEMENT PARK,adventure----
67,POI68,BRETHREN CHURCH JAIPUR,religious--shows and concerts-
68,POI69,MI ROAD,shoppingfood and drinks---
69,POI70,BHANGARH FORT,adventurescenicreligious--
70,POI71,SKY WALTZ BALLOON SAFARI,adventurescenic--local experiences

In [104]:


 def recommendation2(input_tags):
    
    ghk=type['tags']
    ghk=Insert_row(70,ghk,input_tags)
    arw=cv.fit_transform(ghk).toarray()
    sam=cosine_similarity(arw)
    distances=sam[70] 
   
    m_list=sorted(list(enumerate(sam[0])), reverse=True,key=lambda x:x[1])[1:6]
    for i in m_list:
        print(new_type.iloc[i[0]].POIs)

In [107]:
recommendation2('Local Experiences')

JANTAR MANTAR JAIPUR
JAL MAHAL
GATORE KI CHHATRI JAIPUR
CITY PALACE JAIPUR
RAJ MANDIR

In [61]:
type.head

<bound method NDFrame.head of       PID                                 POIs           PRIORITY_1  \
0    POI1                         AMBER PALACE  History and Culture
1    POI2                   CITY PALACE JAIPUR  History and Culture
2    POI3                 JANTAR MANTAR JAIPUR  History and Culture
3    POI4                           HAWA MAHAL  History and Culture
4    POI5  ALBERT HALL MUSEUM (CENTRAL MUSEUM)               Museum
..    ...                                  ...                  ...
66  POI67   SUNRISE DREAM WORLD AMUSEMENT PARK            Adventure
67  POI68               BRETHREN CHURCH JAIPUR            Religious
68  POI69                              MI ROAD             Shopping
69  POI70                        BHANGARH FORT            Adventure
70  POI71             SKY WALTZ BALLOON SAFARI            Adventure

             PRIORITY_2         PRIORITY_3          PRIORITY_4  \
0                Museum  Local Experiences              Scenic
1                Museum  Local Experiences              Scenic
2                Museum                  -                   -
3                     -  Local Experiences              Scenic
4   History and Culture             Scenic                   -
..                  ...                ...                 ...
66                    -                  -                   -
67                    -                  -  Shows and Concerts
68      Food and Drinks                  -                   -
69               Scenic          Religious                   -
70               Scenic                  -                   -

           PRIORITY_5                                               tags
0           Adventure  History and CultureMuseumLocal ExperiencesScen...
1     Food and Drinks  History and CultureMuseumLocal ExperiencesScen...
2                   -                       History and CultureMuseum---
3                   -       History and Culture-Local ExperiencesScenic-
4                   -                  MuseumHistory and CultureScenic--
..                ...                                                ...
66                  -                                      Adventure----
67                  -                     Religious--Shows and Concerts-
68                  -                         ShoppingFood and Drinks---
69                  -                         AdventureScenicReligious--
70  Local Experiences                 AdventureScenic--Local Experiences

[71 rows x 8 columns]>